torch
numpy
pandas
soundfile
scipy
librosa
torchaudio
speechbrain
huggingface_hub
safetensors
matplotlib
seaborn
jiwer
tensorboard
wandb
accelerate
deepspeed
pytest
pyarrow
datasets
omegaconf
hydra-core
cached_path
click
tqdm
transformers
unidecode
psutil
